@model WeatherApp.Models.WeatherModel

<label class="m-xl-3">City: @Model.Location</label>
<br />
<label class="m-xl-3">Time: @Model.Time</label>
<br />
<label class="m-xl-3">Wind: @Model.Wind</label>
<br />
<label class="m-xl-3">Visibility: @Model.Visibility</label>
<br />
<label class="m-xl-3">Sky Condition: @Model.SkyCondition</label>
<br />
<label class="m-xl-3">Temperature in Celcius: @Model.TemperatureCelcius</label>
<br />
<label class="m-xl-3">Temperature in Fahrenheit: @Model.TemperatureFahrenheit</label>
<br />
<label class="m-xl-3">Dew Point: @Model.DewPoint</label>
<br />
<label class="m-xl-3">Relative Humidity: @Model.RelativeHumidity</label>
<br />
<label class="m-xl-3">Pressure: @Model.Pressure</label>